.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 7%;
  background-color: black;
  
}
.logo{
  color: white;
  font-size: 50px;
  margin-left: 20px;
}
.logo .img{
  margin: 20px;
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;

}

ul li{
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}