.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100hv;
  
}

form {
  display:flex;
  flex-direction: column;
  gap: 1rem;
  width:50%;
}

.form-data{
  border: 2px solid black;
  padding: 50px;
  display:flex;
  justify-content: center;
  align-items: center;

}

.buttons{
   margin-top: 10px;
}

.submit {
  background-color: rebeccapurple;
}