main{
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  border: 2px solid black;
  height: auto;
}

.accordian-container{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: auto;
}

