.problems-main {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: space-around;
}

.searchBarContainer {
  display:flex;
  justify-content: flex-end;
  color:white;
}